@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Kanit-Regular'), url(../assets//fonts/Kanit-Regular.ttf) format('ttf');
  }


  @font-face {
    font-family: 'Rubik Mono One', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:  local('RubikMonoOne-Regular'), url(../assets//fonts/RubikMonoOne-Regular.ttf) format('ttf');
  }